@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer: @ViewData["Nome"]</p>
<p>@ViewData["email"]</p>

<address>
    <strong>More information: </strong><a href="http://github.com/gustavosenamp">github.com/gustavosenamp</a>
</address>
